#drop-table{
	float: left;
	font-size: 12px;
	font-weight: 700;
	line-height: 19px;
	margin-top: 1px;
}

#drop-table span.bar {
	color: #dfdfdf;
	display: block;
	float: left;
	text-align: center;
	width: 9px;
}

#drop-table .original_title {
	display: block;
	float: left;
}

#drop-table .original_info {
	display: block;
	float: left;
}

#drop-table .change_title {
	display: block;
	float: right;
}

.increased {
	color: red;
}

.dropped {
	color: green;
}

#drop-table td{
	width: 5em;
}